[submodule "tools/asm-differ"]
	path = tools/asm-differ
	url = https://github.com/simonlindholm/asm-differ
[submodule "tools/maspsx"]
	path = tools/maspsx
	url = https://github.com/mkst/maspsx
[submodule "tools/m2c"]
	path = tools/m2c
	url = https://github.com/matt-kempster/m2c
[submodule "tools/decomp-permuter"]
	path = tools/decomp-permuter
	url = https://github.com/simonlindholm/decomp-permuter
[submodule "tools/nugget"]
	path = tools/nugget
	url = https://github.com/pcsx-redux/nugget/
[submodule "tools/psyq-3.0-converted"]
	path = tools/psyq-3.0-converted
	url = https://github.com/fuerchter/psyq-3.0-converted
